{% extends 'main/index.html' %}
{% block content %}
<div class="col-12">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="card mb-4 box-shadow">
                         <div class="card-header">
                             <h3 class="card-title">Профиль</h3>
                         </div>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <ul>
                                <li>Ваш реферальный код: {{object.referral_code}}</li>
                                <li>Код годен до: {{object.expiration_date}}</li>
                                {%if object.referrals != '-' %}
                                <li>Ваши рефералы: {{object.referrals}}</li>
                                {%endif%}
                            </ul>
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                       Сохранить
                    </button>
                        <br>
                        <a href="{% url 'generate_new_code' %}" class="btn btn-lg btn-block btn-outline-danger" >Сгенерировать новый реферальный код</a>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}